
devexpress-grid-demo/.vs/config/applicationhost.config
devexpress-grid-demo/.vs/devexpress-grid-demo/v15/.suo
devexpress-grid-demo/.vs/devexpress-grid-demo/v15/Server/sqlite3/db.lock
devexpress-grid-demo/.vs/devexpress-grid-demo/v15/Server/sqlite3/storage.ide
devexpress-grid-demo/.vs/devexpress-grid-demo/v15/Server/sqlite3/storage.ide-shm
devexpress-grid-demo/.vs/devexpress-grid-demo/v15/Server/sqlite3/storage.ide-wal
